/* src/components/Login.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #e0e0e0, #c0c0c0); /* Gradient background */
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .full-width {
    flex: 0 0 100%; /* Full width for the button */
  }
  
  
  .login-box {
    margin-right: 30%;
    margin-left: 30%;
    background-color: #f7f7f7; /* Light grey background for the form */
    padding: 40px;
    border-radius: 15px; /* More rounded corners */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Smoother shadow */
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .login-box:hover {
    transform: scale(1.05); /* Slight zoom on hover */
  }
  
  .login-title {
    margin-bottom: 20px;
    font-size: 28px;
    color: #333333; /* Dark grey text */
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  .register-form {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping of input fields */
    justify-content: space-between; /* Space out the input fields */
  }
  
  .login-input {
    margin-bottom: 15px;
    padding: 12px;
    border: 1px solid #cccccc; /* Light grey border */
    border-radius: 10px; /* Rounded corners for input fields */
    font-size: 16px;
    background-color: #ffffff; /* White background */
    color: #333333; /* Dark grey text */
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }
  .register-input {
    margin-bottom: 15px;
    padding: 12px;
    border: 1px solid #cccccc; /* Light grey border */
    border-radius: 10px; /* Rounded corners for input fields */
    font-size: 16px;
    background-color: #ffffff; /* White background */
    color: #333333; /* Dark grey text */
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    flex: 0 0 48%; /* Each input field takes up 48% width */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
  }
  
  .login-input:focus {
    border-color: #ff6666; /* Red border on focus */
    box-shadow: 0 0 5px rgba(255, 102, 102, 0.5); /* Red shadow on focus */
  }
  
  .login-button {
    padding: 12px 20px;
    border: none;
    border-radius: 10px; /* Rounded corners for button */
    background-color: #ff6666; /* Red button */
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #ff3333; /* Darker red on hover */
    transform: translateY(-2px); /* Slight lift on hover */
  }
  
  .login-error {
    color: #ff3333; /* Red for error text */
    margin-top: 10px;
    font-size: 14px;
  }
  
  .login-register {
    margin-top: 15px;
    font-size: 14px;
  }
  
  .login-register a {
    color: #ff6666; /* Red color for the link */
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .login-register a:hover {
    color: #ff3333; /* Darker red on hover */
  }
  